@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --background: #f7f1e3;
  --foreground: #171717;

  /* Green (Success/Positive) */
  --green-light: #a9dfbf;
  --green-medium: #58d68d;
  --green-dark: #28a745;

  /* Red (Error/Warning) */
  --red-light: #f5b7b1;
  --red-medium: #e74c3c;
  --red-dark: #c0392b;

  /* Accent Colors */
  --accent-light: #fdfbf7;
  --accent-medium: #e6dfd4;
  --accent-dark: #d9cec3;

  /* Neutral Variants */
  --gray-light: #d0d0d0;
  --gray-medium: #7f7f7f;
  --gray-dark: #3f3f3f;
}

/*
TODO: Dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* <reset-style> ============================ */
.atype {
  text-decoration: none;
}
/* <main-style> ============================ */
.main__scroll-text {
  color: rgba(28,28,30,1);
}

.main__action:hover .main__scroll-box {
  animation: scroll-down 3s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}
/* Chatbot Styles */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chatbot-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chatbot.open .chatbot-toggle {
  z-index: 900;
}

.chatbot {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  z-index: 1001;
}

.chatbot-header {
  padding: 10px;
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
}

.chatbot-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chatbot-message.me {
  justify-content: flex-end;
}

.chatbot-avatar {
  margin-right: 10px;
}

.chatbot-text {
  padding: 10px;
  border-radius: 5px;
}

.chatbot-input {
  display: flex;
  border-top: 1px solid #ccc;
}

.chatbot-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.chatbot-input button {
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1002;
  position: relative;
}
